.white{
    background-color: white;
    width:600px;
    padding-top:120px;

}
.blue{
    background-color: blue;
    width:600px;
    padding-top:120px;
    gap:100px;
    
}

.red{
    background-color:red;
    width:600px;
    padding-top:120px;
    gap:100px;
}